.inputUser {
margin: auto;
width: auto;
height: auto;
position: center;
float: right;

}

body {
  background-image: url("https://s1097sas.storage.yandex.net/rdisk/1b350cd732ed791a8d75e0ac74cb357db38838639fabae803653341787b2dcfe/67816eca/x2KXFYd6OzzLiuVjvpjedmAOR1tWtUFnOLnXrRT4ta9NJtbcRJ-5jyFO6_4Sm12sTtnucSvA0iRKa6snp3NMpQ==?uid=0&filename=Logo.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&fsize=98813&hid=bb9394ed9d0c179ae52e4202b4f4b268&media_type=image&tknv=v2&etag=7d3b0e7eacb9748d905a86d2f255e167&ts=62b5ebcc1c680&s=64b72eb0c09e7f680934b64cf6b21c221791bd036739daeae5ac77eda419d1ad&pb=U2FsdGVkX18EOijekkAgMLvVv-Rds3vIJZDCTs0xR2YU9gWlugb9NM96If5Hz3yRJrFZ3B3Xo0OK-ofhPjJWL-QAAauv25KV_NEbK7C8-X8");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
.Login {
  border: none;
  border-width: thick;
  border-radius: 0px 0px 100px 100px;
  background-color: ghostwhite;
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: sans-serif;
  font-weight: 0em arial;
  font: Helvetica;
}